.title-tel{
    font-weight: bold;
}

.title-razao{
    font-weight: bold;
    color: #11cbd7;
    font-size: 1.1em;
}


.lab{
    margin-bottom:20px;
}


    .lab .img-lab{
        flex:1;
    }

    .lab .text-lab {
        flex: 2;
    }

    .lab .price-lab{
        flex:2;
    }