<div class="header">
  <div class="container">
      <div class="topo-header d-flex">
          
        <div class="logo"><img src="../../../assets/search-logo.svg" alt=""> <h1 class="logo-text">SearchLabs</h1></div>
        <div class="menu">
      
            <button type="button" class="btn btn-primary">Procuro Laboratorios</button>
            <button type="button" class="btn btn-info">Cadastre-se como um laboratorio</button>
          
        </div> 
      </div>
      <div class="body-header">
        <h1>Precisando realizar um exame?</h1>
        <h4 class="subtitle-header">Milhares de profissionais avaliados por clientes,
            permitindo você negociar apenas com os melhores.</h4>

        <form class="search-labs d-flex" action="#" >
          <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                  <img src="../../../assets/area-search.PNG" alt="" class="img-fluid">
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Regiao">
          </div>

          <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                  <img src="../../../assets/exame-search.PNG" alt="" class="img-fluid">
              </div>
              <input type="text" class="form-control" aria-label="Sizing example input" placeholder="Exame">
          </div>

          <button class="search" type="submit"><i class="fas fa-search-location"></i></button>
        </form>   

      </div>  

      <div class="footer-header d-flex">
          <div class="bloco-search">
            <img src="../../../assets/clinic-search.PNG" alt="" class="img-fluid">
            <p>Encontre os melhores laboratorios</p>
          </div>
          <div class="bloco-search">
            <img src="../../../assets/clinic-search.PNG" alt="" class="img-fluid">
            <p>Encontre os melhores laboratorios</p>
          </div>
          <div class="bloco-search">
            <img src="../../../assets/clinic-search.PNG" alt="" class="img-fluid">
            <p>Encontre os melhores laboratorios</p>
          </div>
      </div>
    </div>

</div>
