<app-main-header></app-main-header>


<div class="container">

    <div class="pre-register">
        <h2>Escolha como quer se registrar</h2>

        <div class="options-register d-flex">
            <a routerLink="/register">  
              <div class="register-lab">
              <i class="fas fa-hospital-alt"></i>
                <p>     Sou um laboratorio                </p>
              </div>
            </a>  
         

          <a routerLink="/registeruser">
          <div class="register-user">
              <i class="fas fa-user-alt"></i>
        
              <p>  Sou um usuario</p>

          </div>
          </a>
    </div>
  
</div>

