<app-main-header></app-main-header>
<div class="container">
  <div class="register d-flex">
    <div class="info-register">
      <h2 class="title-register">Tenha a sua agenda sempre cheia</h2>
      <p><strong>Preencha seus dados para conhecer nossos planos.      </strong></p>
      <p>Descubra como o digital pode ajudar você e seus pacientes!<br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, nam nisi.<br> Voluptas culpa corrupti, perspiciatis rerum tempore nemo sint.

      </p>
    </div>
    <hr>
    <div class="list-register">
        <ul>
            <li><i class="fas fa-search-plus"></i>Não perca nenhum paciente por falta de contato</li>
            <li><i class="fas fa-search-plus"></i>Seu perfil profissional Online</li>
            <li><i class="fas fa-search-plus"></i>Divulgue o preco dos seus exames</li>
            <li><i class="fas fa-search-plus"></i>DIvulgue as vantagens do seu laboratorio e atraia mais clientes</li>
          </ul>
    </div>
  </div>

  <div class="form-register">
    <h2 class="title-register">Registre seu laboratorio</h2>
    <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Nome:</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">CNPJ:</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Razao Social:</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Endereco</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">CEP:</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col-md-3">
            <label for="inputEmail4">Telefone:</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-3">
            <label for="inputPassword4">Telefone 2:</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>  
          <div class="form-group col-md-3">
            <label for="customFileLang">Selecionar Logotipo</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Selecionar imagens</label>
            </div>
          </div>   
          <div class="form-group col-md-3">
            <label for="customFileLang">Selecionar Imagens do laboratorio</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Selecionar imagens</label>
            </div>
          </div>       
          <div class="form-group col-md-6">
            <label for="inputPassword4">Email:</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
          <div class="form-group col-md-3">
            <label for="inputEmail4">Senha:</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
          </div>
          <div class="form-group col-md-3">
            <label for="inputPassword4">Confirmacao da senha:</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Texto Descritvo:</label>
            <textarea type="email" class="form-control" id="inputEmail4" placeholder="Email"></textarea>
          </div>           
          <div class="form-group col-md-6">
            <label for="inputPassword4">Adicionar Exames</label>
            <button type="password" class="form-control btn-primary">Adicionar Exames</button>
          </div>
            
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary full">Cadastrar</button>
      </form>

  </div>

</div>