.register{
    padding:40px 0px;
    ul{
        list-style: none;
        li{
            margin:20px 0px;
            i{
                margin-right:10px;
                font-size:1.5em;
                color:#11cbd7;
            }
        }
    }
}

.form-register{
    padding:20px 0px;
}

.title-register{
    color:#11cbd7;
    font-weight: bold;
}