<app-main-header></app-main-header>

<div class="register-user">
  <div class="container">


    <div class="form-register">
        <h2 class="title-register mb-5">Registre como usuario</h2>
        <form>
            <div class="form-row">
              <div class="col-md-6">
                <label for="nome">Nome</label>
                <input type="text" class="form-control"  id="nome" placeholder="First name">
              </div>
              <div class="col-md-6">
                  <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder="Last name">
              </div><br>
              <div class="col-md-6">
                  <label for="senha">Senha</label>
                  <input type="text" class="form-control" id="senha" placeholder="First name">
                </div>
                <div class="col-md-6">
                    <label for="senhaconf">Confirmacao de senha</label>
                  <input type="text" class="form-control" id="senhaconf" placeholder="Last name">
                </div>
            </div>
            <button type="submit" class="btn btn-primary full mt-5">Cadastrar</button>

          </form>
    </div>
  
  </div>
</div>