<div class="howitworks">
  <h2>Como funciona?</h2>


  <div class="container d-flex">      

      <div class="bloco-servics">
        <div class="img-servics">
          <img src="../../../assets/lupa-search.PNG" class="img-fluid" alt="">
        </div>
        <h3 class="title services">Pesquise</h3>
        <div class="body-services">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni culpa repellat nihil sint.</p>
        </div>
      </div>
      <div class="bloco-servics">
        <div class="img-servics">
          <img src="../../../assets/compare-search.PNG" class="img-fluid" alt="">
        </div>
        <h3 class="title services">Compare</h3>
        <div class="body-services">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni culpa repellat nihil sint.</p>
        </div>
      </div>
      <div class="bloco-servics">
        <div class="img-servics">
          <img src="../../../assets/telefone-search.PNG" class="img-fluid" alt="">
        </div>
        <h3 class="title services">Contato</h3>
        <div class="body-services">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni culpa repellat nihil sint.</p>
        </div>
      </div>
  </div>

</div>