.howitworks{
    padding:60px 0px;
    text-align:center;
    .container{
        margin-top:30px;
        justify-content:space-around;
    }
    .bloco-servics{
        width:300px;
        text-align: center;
    }
}