<section class="download">
  <div class="container d-flex">
    <div class="img-app">
      <img src="../../../assets/download-img.png" alt="" class="img-fluid">
    </div>
    <div class="download-app">
      <h3>We are lauching  our <br>
      App Son!</h3> 
      <div class="plataform-select">
        <div class="download-android">
          <img src="../../../assets/android.PNG" alt="" class="img-fluid">
        </div>
        <div class="download-ios">
          <img src="../../../assets/ios.PNG" alt="" class="img-fluid">

        </div>
      </div>
      <form action="" class="email-newllester">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button class="btn" type="button" id="button-addon2">Assinar</button>
            </div>
          </div>

      </form>
    </div>
  </div>

</section>